<h3>Checkout of Uploaded Song</h3>

<table>
    <thead>
        <tr>
            <th>Flag</th>
            <th>Title</th>
            <th>Country</th>
            <th>Listen Slots</th>
            <th>Checked Out</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of musicList">
            <td><img src="{{i.country_image_url}}"></td>
            <td>{{i.title}}</td>
            <td>{{i.country_name}}</td>
            <td>{{i.checkout_limit}}</td>
            <td>{{i.current_checkout}}</td>
            <td>
                <button *ngIf="i.current_checkout < i.checkout_limit; else elsetag" (click)="displayMusic(i.music_id)">Listen{{i.music_id}}</button>
                <ng-template #elsetag>Not avaliable</ng-template>
            </td>
        </tr>
    </tbody>
</table>

<button type="button" (click)="gotoHome()">Home</button>